/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

/*
nav {
    text-align: left;
    border: 2px;
    float: right;
    

} */

h1
{
    
    border-bottom: 2px solid black;
    font-family: Verdana;
    
}
h2{ 
font-size: larger;
}
#menu {
 
    list-style-type: none;
    
    padding: 5px;
    overflow: hidden;
    background-color: lightgrey;
    position: static;
    top: 10px;
    width: 100%;
    font-family: sans-serif;
    text-decoration: none;
    border-bottom: 1px solid black;
    display: inline-block;
}



li {
   float: left;
   border-right: 1px solid grey;
   display: inline;
}
li:last-child {
    border-right: none;
}

li a {
    
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;

}

#loginpart {
    
    color: black;
    font-family: Verdana, sans-serif;
}
#loginbutton {
    
    background-color: white;
    font-family: sans-serif;
    position: absolute;
    width: 25%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    border: 2px solid blue;    
}

#loginbutton:hover {
    background-color: royalblue;
        color: white;
}

#registerheader {
    font-family: Verdana; 
    
}

#updateprofile {
    background-color: white;
    font-family: sans-serif;
    position: relative;
    width: 25%;
    padding: 10px;
    font-size: 15px;
    border: 2px solid limegreen;
    border-radius: 10px;
    color: black; 
    
}

#deleteprofile {
    background-color: white;
    font-family: sans-serif;
    
    width: 25%;
    padding: 10px;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 10px;
    color: black;  

}

#updateprofile:hover {
    
    background-color: limegreen;
        color: white;
}

#deleteprofile:hover {
    background-color: red;
    color: white;
    
}

#profpic {
    background-color: white;
    font-family: sans-serif;
    position: relative;
    width: 15%;
    padding: 10px;
    font-size: 12px;
    border: 2px solid blue;
    border-radius: 10px;
    color: black; 
    
}

#profpic:hover {
    
    background-color: blue;
    color: white;
}

#updateform 
{
   
   font-family: sans-serif;
   color: darkslateblue;
    
}

#updateprofile {
    position: relative;
    width: 25%;
    

}

#deleteprofile {
    display: inline-block;
    width: 25%;
}
